# Analiza podatkov

Podatki so bili vzeti s strani [https://www.famousbirthdays.com/](https://www.famousbirthdays.com/).

Najprej naložimo potrebne podatke in knjižice.

In [12]:
import pandas as pd
pd.set_option('display.max_rows', 10)
%matplotlib inline

LJUDJE = pd.read_csv('tabela_podatki.csv')

Poglejmo si podatke.

In [13]:
LJUDJE

                           Ime Starost          Poklic Rojstni dan Horoskop
0                   Logan Paul      29    YouTube Star       01-04     Oven
1                  Randy Orton      44        Wrestler       01-04     Oven
2                  Scotty Sire      32    YouTube Star       01-04     Oven
3              Asa Butterfield      27     Movie Actor       01-04     Oven
4                      Jslutty      23  Instagram Star       01-04     Oven
...                        ...     ...             ...         ...      ...
15464          Mar Lucas Vilar      21  Instagram Star       09-09   Devica
15465           Estelle Ogilvy      21  Instagram Star       09-09   Devica
15466  Taina Licciardo-Toivola      46    YouTube Star       09-09   Devica
15467                Alex Nino      26     TikTok Star       09-09   Devica
15468              rachie.love      20     TikTok Star       09-09   Devica

[15469 rows x 5 columns]